*{
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
h1 a {
    text-decoration :none;
    color: #333;
}

/*style global pour le header */
.main-header {
    background-color: #f9f9f9; /* Couleur de fond légère */
    padding: 10px 20px; /* Espacement interne */
    border-bottom: 2px solid #ddd; /* Légère bordure en bas */
}

.container {
    display: flex;
    justify-content: space-between; /* Sépare la logo et la navigation */
    align-items: center;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.nav-list a {
    text-decoration: none; /* Supprime le soulignement */
    color: #333; /* Couleur du texte */
    transition: color 0.3s ease;
}

.nav-list a:hover {
    color: #007bff;
}

.header-container{
    margin: 0;
    padding: 0;
}

.btn-login {
    margin-left: auto;
    padding: 10px 20px;
    border: 2px solid #007bff;
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-login:hover {
    color: #ffffff;
    cursor: pointer;
}

.btn-logout{
    margin-left: auto;
    padding: 10px 20px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}

/* style pour le main et footer */
main {
    padding: 2rem;
    text-align: center;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    width: 100%;
    margin: 2rem auto;
    padding: 2rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

form button {
    background: #007bff;
    color: white;
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: background-color 0.3s ease;
}

form button:hover {
    background: #0056b3;
}

#result {
    margin-top: 20px;
    color: green;
}

img {
    margin-top: 20px;
}